.column {
    width: 261px;
    margin: 48px 0;
}

.footer-headding {
    @include txt-footer(16px, 500, 19px);
    margin-bottom: 33px;
    width: 210px;
}

.footer-email, .footer-phone {
    margin-bottom: 25px;
}

.contact-txt {
    @include txt-footer(14px, 500, 16px);
    margin-left: 10px;
}

.footer-dsc {
    @include txt-footer(14px, 100, 16px);
    font-style: italic;
    opacity: 0.6;
}

.contact-txt-third {
    @include txt-footer(14px, 500, 16px);
    margin-bottom: 24px;
}

.footer-pic {
    margin-right: 24px;
}