* {
  margin: 0;
  padding: 0;
  outline: none;
}

.button, .watch, .learn-watch, .get, .header-link:hover {
  background-color: #3A68B8;
  border-radius: 5px;
}

body {
  background-color: #020A18;
}

.header, footer {
  background-color: #0a121f;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
}

.header-link {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 40px;
  text-decoration: none;
}

.main {
  margin-top: 160px;
  margin-bottom: 200px;
}

.flex-box, .flex-box-logo, .flex-box-footer {
  display: flex;
  justify-content: space-between;
}

.next {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
  color: #3A68B8;
}

.main-headding {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 55px;
  font-weight: 800;
  line-height: 130%;
  width: 604px;
  margin-top: 10px;
}

.main-dsc {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  width: 558px;
  opacity: 0.7;
  margin-top: 40px;
  margin-bottom: 50px;
}

.button-flex {
  display: flex;
}

.get {
  margin-right: 20px;
}

.button-txt {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  padding: 15px 30px;
}

.button-txt-flex {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.watch-txt {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 10px;
}

.get:hover, .watch:hover, .learn:hover {
  outline: 4px solid #fff;
}

.logo {
  padding-bottom: 100px;
}

.banner {
  margin-top: 157px;
  margin-bottom: 264px;
}

.apply-headding {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  width: 484px;
}

.apply-dsc {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 460px;
}

.learn-txt {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 15px 30px;
}

.result {
  margin-bottom: 243px;
}

.item {
  padding: 30px;
  text-align: center;
  background: #132035;
  border-radius: 10px;
  box-sizing: border-box;
  width: 362px;
  margin-bottom: 30px;
}

.item-headding {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 125%;
  opacity: 0.7;
  width: 302px;
  padding: 30px 0;
}

.item-dsc {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.5;
  width: 302px;
}

.item1 {
  padding: 30px;
  text-align: center;
  background: #132035;
  border-radius: 10px;
  box-sizing: border-box;
  width: 754px;
}

.item1-headding {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 125%;
  opacity: 0.7;
  width: 694px;
  padding: 60px 0;
}

.item1-dsc {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.5;
  width: 694px;
  padding-bottom: 114px;
}

.feedback {
  margin-bottom: 221px;
}

.feedback-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-headding {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  width: 548px;
  margin-bottom: 20px;
}

.feedback-dsc {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
  width: 460px;
}

.column {
  width: 261px;
  margin: 48px 0;
}

.footer-headding {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 33px;
  width: 210px;
}

.footer-email, .footer-phone {
  margin-bottom: 25px;
}

.contact-txt {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-left: 10px;
}

.footer-dsc {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 16px;
  font-style: italic;
  opacity: 0.6;
}

.contact-txt-third {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 24px;
}

.footer-pic {
  margin-right: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-link {
    padding: 20px;
  }
  .flex-box {
    flex-direction: column;
    align-items: center;
  }
  .main-txt {
    margin-bottom: 128px;
  }
  .next {
    font-size: 16px;
  }
  .main-headding {
    font-size: 48px;
  }
  .flex-box-logo {
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .apply-txt {
    margin-top: 68px;
  }
  .box-left {
    display: none;
  }
  .box-right {
    display: none;
  }
  .item-dsc {
    opacity: 0.7;
  }
  .feedback-txt {
    margin-bottom: 64px;
  }
  .feedback-dsc {
    padding: 10px 0;
  }
  .flex-box-footer {
    padding-left: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .column {
    margin: 0;
    margin-top: 48px;
    padding-right: 100px;
  }
  .footer-pic {
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .header-link {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    padding: 10px;
  }
  .main {
    margin-top: 64px;
    margin-bottom: 128px;
    text-align: center;
  }
  .flex-box {
    justify-content: center;
    flex-wrap: wrap;
  }
  .main-txt {
    padding: 0 5px;
    margin-bottom: 128px;
  }
  .next {
    font-size: 14px;
    width: 100%;
  }
  .main-headding {
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 64px;
    width: 100%;
  }
  .main-dsc {
    margin-bottom: 40px;
    width: 100%;
  }
  .button-flex {
    align-items: center;
    flex-direction: column;
  }
  .get {
    margin-bottom: 25px;
  }
  .watch {
    padding: 15px 0;
  }
  .img-main-pic {
    width: 343px;
  }
  .flex-box-logo {
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .banner {
    margin: 96px 0;
  }
  .ai-pic {
    width: 343px;
  }
  .apply-txt {
    padding: 0 5px;
    text-align: center;
    margin-top: 68px;
  }
  .apply-headding {
    font-size: 24px;
    width: 100%;
  }
  .apply-dsc {
    margin: 16px 0;
    width: 100%;
  }
  .box-left {
    display: none;
  }
  .box-right {
    display: none;
  }
  .result, .feedback {
    margin-bottom: 96px;
  }
  .feedback-txt {
    padding: 0 5px;
    text-align: center;
    margin-bottom: 32px;
  }
  .pic {
    width: 343px;
  }
  .feedback-headding {
    font-size: 24px;
    width: 100%;
  }
  .feedback-dsc {
    padding-top: 16px;
    width: 100%;
  }
  .flex-box-footer {
    padding-left: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}/*# sourceMappingURL=style.css.map */